<div class="contenedor">
  <div class="row">
    <a class="waves-effect waves-light btn" routerLink="/cursos">Acceder a lista de productos</a>
  </div>
</div>
<div class="row">
  <a href="#">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <img src="../../assets/img/Desert.jpg" alt="" class="img-responsive">
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <img src="../../assets/img/Desert.jpg" alt="" class="img-responsive">
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <img src="../../assets/img/Desert.jpg" alt="" class="img-responsive">
    </div>
  </a>
</div>